<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog">Blog</a>
    <h1>About me</h1>
    <h2>Just testing astro</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam magnam
      tempore atque laboriosam labore ipsa consequuntur asperiores, iste
      facilis, rerum, a iusto velit deleniti. Nobis omnis neque repellat eaque
      cupiditate.
    </p>
  </body>
</html>
